<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>GraphiT</title>
  </head>
  <body>
    <h1
      style="
        text-align: center;
        color: red;
        background-color: yellow;
        padding: 10px;
        font-size: 40px;
        margin: 0px;
        border: solid 2px black;
        border-bottom: none;
      "
    >
      Plot, Explore & have fun!!
    </h1>
    <div id="plot-and-form"></div>
  </body>
  <!-- Global variables are Adjacency List, n, m -->
  <script>
    let adjList = Array(200);
    let n;
    let m;
  </script>
  <!-- Getting data from form -->
  <script>
    $("form").submit(function (event) {
      event.preventDefault();
      let unformattedValueStringObject = $(this).serializeArray();
      let valueString = unformattedValueStringObject["0"].value;

      let parsedValueArray = parseStringData(valueString);
      console.log(parsedValueArray);

      if (validate(parsedValueArray)) {
        createAdjArray(parsedValueArray);
      } else {
        error_string = "Error! Invalid Data";
        document.getElementById("story").value = error_string;
        return error_string;
      }
    });
  </script>
  <!-- String Parser -->
  <script>
    function parseStringData(valueString) {
      let lengthUnformattedString = valueString.length;
      let parsedValueArray = new Array();
      let tmpString = "";
      for (let i = 0; i < lengthUnformattedString; i++) {
        if (
          valueString[i] == "0" ||
          valueString[i] == "1" ||
          valueString[i] == "2" ||
          valueString[i] == "3" ||
          valueString[i] == "4" ||
          valueString[i] == "5" ||
          valueString[i] == "6" ||
          valueString[i] == "7" ||
          valueString[i] == "8" ||
          valueString[i] == "9"
        ) {
          tmpString += valueString[i];
        } else {
          if (tmpString.length > 0) {
            let x = +tmpString;
            parsedValueArray.push(x);
            tmpString = "";
          }
        }
      }
      if (tmpString.length > 0) {
        let x = +tmpString;
        parsedValueArray.push(x);
        tmpString = "";
      }
      return parsedValueArray;
    }
  </script>
  <script>
    // Array Validator
    function validate(parsedValueArray) {
      if (parsedValueArray.length < 2) return false;
      if (parsedValueArray.length != 2 + 2 * parsedValueArray[1]) return false;
      n = parsedValueArray[0];
      m = parsedValueArray[1];

      for (let i = 2; i < parsedValueArray.length; i++) {
        if (parsedValueArray[i] > n || parsedValueArray[i] < 1) return false;
      }
      return true;
    }
  </script>
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script
    src="https://unpkg.com/react@17/umd/react.development.js"
    crossorigin
  ></script>
  <script
    src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
    crossorigin
  ></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script type="text/babel" src="/static/plotter.js"></script>
</html>

<!-- <svg
        style="position: absolute; left: 100px; top: 100px"
        width="800"
        height="200"
      >
        <circle cx="10" cy="10" r="10" fill="#456" stroke="none" />
        <circle cx="726" cy="180" r="10" fill="#456" stroke="none" />
        <path d="M 726 180 C 276 87 270 10 0 0" fill="none" stroke="#456" />
      </svg> -->
